.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2;
    padding: 1em;
  }

.item1 {
  grid-column-start: 2;
  grid-column-end: span 2;
  font: 12px system-ui;
  word-wrap: break-word;
}
  
.item2 {
  grid-column-start: 2;
  grid-column-end: span 2;
  font: 12px system-ui;
}
  
@media only screen and (max-width: 500px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr;
    margin-right: 60px !important;
  }

  .item1 { grid-area: 1 / span 2; }
  .item2 { 
    grid-area: 2 / span 2; 
  }
  /* .item3 { grid-area:  } */

}