body {
  background-color: #ffa470;
  font-family: cursive;
}

.ui.segment.container {
  border-color: #54c8ff;
  border: solid #54c8ff;
  border-radius: 30px;
}

input[type="text"] {
  border-color: #54c8ff !important;
  
}
p, h2 {
  font-size: 1.5em;
}

@media only screen and (max-width: 768px) {
  p, h2 {
    font-size: 0.95em;
  }
}